.search-result__show-more-btn {
    width: 288px;
    margin-top: 64px;
}

@media screen and (max-width: 1440px) {
    .search-result__show-more-btn {
        width: 240px;
        margin-top: 22px;
    }
}

@media screen and (max-width: 768px) {
    .search-result__show-more-btn {
        width: 100%px;
        margin-top: 15px;
    }
}
