@import url(./__cards/search-result__cards.css);
@import url(./__empty-res-field/search-result__empty-res-field.css);
@import url(./__empty-res-text/search-result__empty-res-text.css);
@import url(./__empty-res-title/search-result__empty-res-title.css);
@import url(./__found-field/search-result__found-field.css);
@import url(./__searching-description/search-result__searching-description.css);
@import url(./__searching-field/search-result__searching-field.css);
@import url(./__controls/search-result__controls.css);
@import url(./__show-more-btn/search-result__show-more-btn.css);

.search-result {
    padding: 80px 104px;

    background-color: #f5f6f7;
}

@media screen and (max-width: 1440px) {
    .search-result {
        padding: 40px;
    }
}

@media screen and (max-width: 768px) {
    .search-result {
        padding: 32px 16px;
    }
}
