@media only screen and (max-width: 374px) and (min-width: 320px) {
    .search {
        margin-left: 0;
    }

    .search_image {
        background-position: top;
    }

    .menu {
        display: none;
    }

    .search__header {
        width: 100%;
    }

    .news {
        font-size: 16px;
        line-height: 24px;
        margin: 16px 0 16px 16px;
        width: 117px;
    }

    .menu__save {
        margin-left: 132px;
        margin: 0 40px 0 132px;
    }
    
    .main-header {
        font-size: 16px;
        line-height: 24px;
    }

    .menu__main {
        margin: 22px 16px 0 0;
    }

    .saved {
        margin: 22px 16px 20px 0;
        width: 160px;
        font-size: 16px;
        line-height: 24px;
    }

    .menu__signin {
        margin: 14px 0 12px;
        width: 100px;
    }

    .link {
        margin-top: 17px;
    }

    .menu__signin {
        font-size: 16px;
    }

    .search__body {
        padding: 30px 16px 32px 19px;
    }

    .search__title {
        font-size: 36px;
        line-height: 40px;
        width: 285px;
    }

    .search__paragraph {
        margin: 16px 0 122px;
        font-size: 18px;
        line-height: 24px;
    }

    .topic__news {
        margin: 17px 40px 17px 24px;
        font-size: 16px;
        line-height: 22px;
        width: 256px;
        background: #FFFFFF;
        box-sizing: border-box;
        backdrop-filter: blur(8px);
        border-radius: 100px;
        padding: 17px 16px;
        margin: 0px;
        width: 288px;
    }

    .topic__botton {
        width: 160px;
        font-size: 18px;
        line-height: 24px;
        width: 288px;
        padding: 15px 113px 17px;
        margin: 16px 0 0;
    }

    .search__topic {
        border-radius: 0;
        border: none;
        background: transparent;
        flex-direction: column;
        width: 288px;
        margin: 122px auto 0;
        border-radius: 100px;
    }

}