@media only screen and (max-width: 320px) {

    .not-found {
        width: 320px;
    }

    .not-found__image {
        margin: 43px 110px 10px;
    }

    .not-found__header {
        width: 280px;
        margin: 0 auto 16px;
    }

    .not-found__paragraph {
        width: 280px;
        margin: 0 auto 80px;
    }
}