@import url('./__result/group__result.css');
@import url('./__cards/group__cards.css');
@import url('./button-cards/button-cards.css');

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F5F6F7;
}