@import url('./menu/menu.css');
@import url('./news/news.css');

.search__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}