.card__info {
    flex-grow: 1;
    padding: 24px 24px 62px 24px;

    background-color: #fff;
}

@media screen and (max-width: 1440px) {
    .card__info {
        padding: 16px 16px 48px 16px;
    }
}

@media screen and (max-width: 1440px) {
    .card__info {
        padding-bottom: 45px;
    }
}
