.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;

    width: 40px;
    height: 40px;
    border: 0;

    background-color: transparent;
    background-image: url('../../../images/cross.svg');
    background-repeat: no-repeat;

    cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .popup__close {
    display: none;
  }
}
