@import url(./_active/header__link_active.css);

.header__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #b6bcbf;
    text-decoration: none;
}

.header__link:hover {
    color: #fff;
}

.header_theme_black .header__link {
    color: #1a1b22;
}

.header_theme_black .header__link:hover {
    color: #1a1b22;
}


.header__navigation-item_current-page .header__link {
    color: #fff;
}

.header_theme_black .header__navigation-item_current-page .header__link {
    color: #1a1b22;
}

@media screen and (max-width: 1440px) {
    .header__link {
        font-size: 16px;
    }
}