.saved-info__title {
    margin: 0;

    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: rgba(26, 27, 34, 0.5);
}

@media screen and (max-width: 1440px) {
    .saved-info__title {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .saved-info__title {
        font-size: 12px;
    }
}
