@media only screen and (max-width: 768px) {
    .footer {
        width: 768px;
    }

    .footer__info {
    width: 300px;
    margin: 24px 0 18px 40px;
    font-size: 16px;
    line-height: 22px;
    }

    .footer__column {
    margin: 21px 42px 21px 28px;
    font-size: 18px;
    line-height: 24px;
    }

    .footer__info {
        width: 300px;
        margin: 24px 0 18px 40px;
    }

    .footer__column {
        margin: 24px 42px 21px 28px;
    }

    .footer__column-text_header {
        width: 88px;
    }

    .footer__column-text_link {
        width: 176px;
    }

    .footer__column-icone {
        margin-left: 25.89px;
        background-position: center;
    }
}