.card__data {
  max-width: 128px;
  width: 100%;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 20px 248px 12px 24px;
}