.card__paragraph {
  max-width: 354px;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin: 16px auto 0px;
}