@import url('./__paragraph/massageSave__paragraph.css');

.massageSave {
  position: absolute;
  top: 24px;
  left: 143px;
  width: 182px;
  background: #FFFFFF;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  display: none;
}