.search__submit {
    position: absolute;
    top: 0;
    right: 0;

    width: 168px;
}

@media screen and (max-width: 1440px) {
    .search__submit {
        width: 160px;
    }
}

@media screen and (max-width: 768px) {
    .search__submit {
        top: 72px;
        left: 0;
        right: unset;

        width: 100%;
    }
}
