.search-result__cards {
    margin-top: 64px;
}

@media screen and (max-width: 1440px) {
    .search-result__cards {
        margin-top: 32px;
    }
}

@media screen and (max-width: 768px) {
    .search-result__cards {
        margin-top: 24px;
    }
}
