@import url('./__image/list__image.css');
@import url('./__menu/list__menu.css');
@import url('./__close/menu__close.css');

.list {
  width: 24px;
  height: 24px;
  margin: 16px 16px 16px;
  display: none;
}

li {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 56px;
  color: #FFFFFF;
  padding: 0;
}

.list ul li{
  padding: 10px;
}

.list ul li, .list ul{
  display: inline-block;
}

.list ul{

  margin: 0;
  padding: 0;
}

.list ul ul{
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
}

.list ul a{
  color: #fff;
  text-decoration: none;
}

.list ul ul a{
  color: #fff;
  text-decoration: none;
}

.list li:hover ul{
  display: block;
}

.list li:hover li{
  display: block;
}