.saved-info__count {
    width: 530px;
    margin-top: 28px;
}

@media screen and (max-width: 1440px) {
    .saved-info__count {
        width: 336px;
        margin-top: 16px;
    }
}

@media screen and (max-width: 768px) {
    .saved-info__count {
        width: 100%;
    }
}
