@media only screen and (max-width: 768px) and (min-width: 541px) {

    .not-found {
        max-width: 768px;
        min-width: 540px;
    }

    .not-found__image {
        margin: 43px 330px 10px;
    }

    .not-found__header {
        margin: 0 auto 16px;
    }

    .not-found__paragraph {
        width: 100%;
        margin: 0 auto 80px;
    }

    .not-found__image {
        margin: 43px 240px 10px;
    }
}