@media only screen and (max-width: 768px) {
    .search {
        max-width: 768px;
    }

    .search_image {
        background-position: center;
    }

    .search__header {
        width: 100%;
    }

    .news {
        margin: 22.73px 0 18.47px 40px;
    }

    .menu__save {
        margin: 0 40px 0 100px;

    }
    
    .main-header {
        font-size: 16px;
        line-height: 24px;
    }

    .menu__main {
        margin: 22px 30px 0 0;
    }

    .saved {
        margin: 22px 16px 20px 0;
        width: 160px;
        font-size: 16px;
        line-height: 24px;
    }

    .menu__signin {
        margin: 14px 0 12px;
        width: 100px;
    }

    .link {
        margin-top: 17px;
    }

    .menu__signin {
        font-size: 16px;
    }

    .search__body {
        padding: 38px 156px 48px 160px;
    }

    .search__title {
        font-size: 36px;
        line-height: 40px;
        width: 385px;
    }

    .search__paragraph {
        margin: 16px 0 48px;
        font-size: 18px;
        line-height: 24px;
    }

    .topic__news {
        margin: 17px 40px 17px 24px;
        font-size: 16px;
        line-height: 22px;
        width: 228px;
    }

    .topic__botton {
        width: 160px;
        font-size: 18px;
        line-height: 24px;
    }

    .menu__authorization {
        margin: 0 40px 0 200px;
    }

    .menu__authorization {
        margin-left: 240px;
    }

    .menu__signin {
        width: 160px;
    }
}