@media screen and (max-width: 539px) and (min-width: 375px) {
    .search {
        width: 100%;
        min-width: 375px;
        max-width: 768px;
        font-size: 16px;
        line-height: 24px;
    }

    .menu {
        display: none;

    }

    .list {
        display: block;
        margin: 30px 30px 30px 150px;
    }

    .list ul li, .list ul {
        background-repeat: no-repeat;
        width: 100%;
    }

    .search__body {
        padding: 20px;
    }

    
    .news {
        margin: 30px 10px;
    }

    .search__header-signin {
        width: 248px;
    }
    
    .search__topic {
        margin: 60px auto 0;
    }

    .about {
        width: 100%;
        margin: 20px auto;
        flex-direction: column;
    }

    .about__image {
        width: 300px;
        margin: 0 auto;
    }

    .about__author {
        margin: 0 auto;
        width: 300px;
        text-align: center;
    }

    .about__paragraph {
        width: 300px;
        margin: 0 auto;
    }
    
    .about__text {
       margin: 0 auto;
       width: 100%;
    }

    .footer {
        position: relative;
        width: 320px;
        flex-direction: column-reverse;
    }

    .footer__column {
    margin: 21px 104px 0px 16px;
    flex-direction: column;
    }

    .footer__column-icone {
    position: absolute;
    width: 20px;
    height: 20px;
    }

    .footer__column-icone_github {
    top: 22px;
    right: 66px;
    }

    .footer__column-icone_facebook {
    top: 22px;
    right: 18px
    }

    .footer__info {
    width: 288px;
    margin: 40px auto 20px;
    }

    .footer__column-text_header {
    margin-bottom: 30px;
    }

    .group__cards {
        flex-direction: column;
    }

    .card {
        width: 288px;
        height: 530px;
        margin: 0 auto 10px;
    }

    .button-cards {
        width: 240px;
        margin: 28px;
    }

    .buttomSave {
        margin: 16px 16px 102px;
        height: 50px;
    }

    .massageSave {
        margin: 16px 4px 102px;
        height: 50px;
    }

    .card__header, .card__paragraph {
        margin-left: 0;
    }

    .group {
        padding: 0 10px;
    }

    .card__header, .card__paragraph {
        width: 100%;
    }

    .not-found__image {
        margin-left: 200px;
    }
}