.topic_news{
  background: rgb(255, 255, 255);
  border: none;
  width: 376px;
  margin: 21px 0px 21px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 0px;
  color: #B6BCBF;
}