@import url('./_text/title-search_text.css');

.title-search {
  display: flex;
  margin-left: 24px;
  margin-top: 24px;
  margin-bottom: 208px;
  width: 88px;
  background: #FFFFFF;
  border-radius: 10px;
}