.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

@media screen and (max-width: 1440px) {
    .card-list {
        grid-gap: 8px;
    }
}

@media screen and (max-width: 768px) {
    .card-list {
        grid-template-columns: 1fr;
        grid-gap: 9px;
    }
}
