@import url('./saved/saved.css');

.menu__save {
    display: flex;
    flex-direction: row;
    margin: 0 104px 0 607px;
}

.menu__save_blackTeame {
    margin: 0 104px 0 498px;
    display: flex;
}

.main-header_black {
    color: #1A1B22;
}