.card__source {
    position: absolute;
    left: 24px;
    bottom: 24px;

    font-family: 'Roboto Slab', 'Times New Roman', serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #b6bcbf;
    text-decoration: none;

    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    .card__source {
        left: 16px;
        bottom: 17px;
    }
}
