@import url(./__layout/popup__layout.css);
@import url(./__content/popup__content.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);

.popup {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .popup {
        position: absolute;
        
        height: 100%;
    }
}
